
.container{
    background-color: var(--white);
    width: 800px;
    padding: 25px;
    margin: 25px auto;
    box-shadow: 0 0 40px rgb(110, 110, 110);
}
 h4{
    color: var(--green);
    font-size: 1.6rem;
    padding-bottom: 20px;
}
.input-group{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}
.input-box{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.name{
    width: 100%;
    padding:20px 10px 14px 50px ;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--gray);
    color: var(--black);  
    letter-spacing: 1px;      
    transition: 0.3s;
    
}
.name::placeholder{
    padding-left: 10px;
    font-size: 1.6rem;
}
.name:focus,.dob:focus{
    box-shadow:0 0 2px 1px var(--green);
    border: 1px solid var(--green);

}
.input-box .icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    color: rgb(182, 182, 182);
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border-right: 1px solid rgb(206, 206, 206);
}
.input-wrap{
    width: 100%;
    display: flex;
}
.dob{
    outline: none;
    text-align: center;
    width: 30%;
    padding: 15px 10px;
    font-size: 1.6rem;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(206, 206, 206);
}
.radio{
    display: none;
}
 
.input-box label{
    display: inline-block;
    float: left;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
    width: 50%;
    padding: 15px 10px;
    font-size: 1.6rem;
    color: rgb(160, 160, 160);
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(206, 206, 206);
}
.input-box label:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}
.input-box label:last-of-type{ 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
}
.radio:checked + label{
    background-color: var(--green);
    color: var(--white);
    transition: 0.5s;
}
.input-group__select{
    display: flex;
    flex-direction: row;
}
.input-box__left{
    width: 50%;
    margin-right: 80px;
}
.input-box__right{
    width: 50%;
}
.input-box select{
    display: inline-block;
    width: 50%;
    padding: 16px 15px;
    float: left;
    color: rgb(68, 68, 68);
    background-color: rgb(233, 233, 233);
    outline: none;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    cursor: pointer;
    transition: all 0.2s ease;
}
.input-box select:focus{
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(206, 206, 206);
    color: rgb(160, 160, 160);
    border-radius: 5px;
    text-align: center;
}
.input-box__wrap{
    display: flex;
    align-self: flex-end;
}
.input-box span{
    width: 100%;
    padding-left: 10px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: rgb(160, 160, 160);

}

