<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeControler</display-name>
    <servlet-name>HomeControler</servlet-name>
    <servlet-class>com.controler.HomeControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControler</servlet-name>
    <url-pattern>/HomeControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpControler</display-name>
    <servlet-name>SignUpControler</servlet-name>
    <servlet-class>com.controler.SignUpControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpControler</servlet-name>
    <url-pattern>/SignUpControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.controler.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactControler</display-name>
    <servlet-name>ContactControler</servlet-name>
    <servlet-class>com.controler.ContactControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactControler</servlet-name>
    <url-pattern>/ContactControler</url-pattern>
  </servlet-mapping>
</web-app>